body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    background-color: rgb(131, 131, 131);
}

h1{
    background-color: rgb(0, 255, 170);
    padding: 18px;
}

h2{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-bottom: 3px solid rgb(153, 0, 0);
}

.destaque{
    background-color: chartreuse;
}

.size{
    width: 50%;
    height: 80px;
}

.padding{
    padding: 40px;
}

.margin{
    margin: 56px 0px 25px 100px;
}

.border{
    /* tamanho da borda, stilo da borda e sua cor */
    
    /* border: 7px dashed blue; */

    /* também pode ser usado de forma mais específica: */
    border-top: 8px solid crimson;
    border-right: 8px groove rgb(255, 0, 242);
    border-bottom: 8px dotted rgb(20, 220, 193);
    border-left: 8px dashed rgb(23, 20, 220);

}

.outline{
    outline: 7px dotted red;
    /*A diferença entre o border e o outline se da que no border a borda está dentro do objeto já o outline ela será exibida na parte de fora */
}